<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="root">
    <!--<input type="text" id="input" v-model="message">-->

    <!--<p>Message: {{ message }}</p>-->
    <ul>
        <li v-for="name in names" v-text="name"></li>
    </ul>

    <input type="text" id="input">
    <button id="button">Add name</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<script>
    // document.querySelector('#input').value = data.message;
    let app = new Vue({
        el: '#root',
        data: {
            names: ['Vilgefortz', 'Dandellion', 'Geralt', 'Zirael']
        },

        mounted() {
            document.querySelector('#button').addEventListener('click', () => {
                let name = document.querySelector('#input');

                app.names.push(name.value);

                name.value = '';
            });
        }
    });
</script>

</body>
</html>